/* Setting up navbar */
a.navbar-brand{
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(74, 170, 165);
    font-family: Georgia;
    font-weight: bold;
    font-size: 25px;
}

/* Setting up navbar formatting */
.navbar{
    padding-top:0px;
    padding-bottom: 0px;
    padding-right:40px;
}

.nav-item.dropdown.show {
    background-color: rgb(231, 231, 231);
}

.dropdown-menu {
    margin: 0;
}

/* Setting up header */
h3{
    color: rgb(74, 170, 165);
    font-family: Georgia;
    font-weight: bold;
    padding: 15px;
}

/* Setting up image thumbnails */
.img-thumbnail{
    padding:10px;
    border: none;
}

/* Setting up body background */
body{
    background-color: rgb(237, 237, 237);
}
.col-md-12{
    background-color: white;
    padding-top: 20px;
    padding-bottom:40px;
}

/* Setting up image borders */
.pic{
    border: 3px solid rgb(74, 170, 165);
}

/* Setting up content formatting */
.content {
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
}

.content.bg-white {
    margin-top: 15px;
}


/* Setting up table formatting */
tr>th:nth-child(1),
tr>th:nth-child(3),
tr>th:nth-child(6),
tr>th:nth-child(7),
tr>th:nth-child(8),
tr>th:nth-child(9),
tr>th:nth-child(10),
tr>td:nth-child(1),
tr>td:nth-child(3),
tr>td:nth-child(6),
tr>td:nth-child(7),
tr>td:nth-child(8),
tr>td:nth-child(9),
tr>td:nth-child(10) {
    text-align: right;
}


/* Setting up small screen formatting */
@media(max-width:767px){
    .navbar.bg-light{
        background-color: rgb(74, 170, 165)!important;    
    }

    .navbar-collapse{
        background-color: rgb(255, 255, 255);
    }
    .navbar{
        padding:inherit;
    }
}